html, body{
	height: 100%;
	width: 100%;
	padding-left:8.5%;
	padding-right:8.5%;
}

body{
	padding-top:58px;
	background-color:#dfdede;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.navbar-custom{
	background-color:#2a2a2a;
	padding-right:14.5%;
	padding-left:14.5%;
}

.navbar-custom .navbar-nav .nav-link{
	color:#d8d8d8;
}

.navbar-custom .nav-item{
	margin:0px 5px;
}

.navbar-custom .navbar-nav .nav-link:hover{
    background-color:#4b006e;
	color:#d8d8d8;
	box-shadow: 0px 0px 10px 10px #2a2a2a;
}

.navbar-custom .nav-item.active .nav-link{
    color:#9f2305;
}

.navbar-custom .dropdown-menu{
    background-color:#2a2a2a;
}

.navbar-custom .dropdown-item{
    color:#c3c3c3;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus{
	font-weight:bold;
    color:#4b006e;
    background-color:#c3c3c3;
	
}

.navbar-custom .dropdown-toggle{
	margin:0px 5px;
	border:none;
	background-color:#2a2a2a;
}

#h1{
    font-size: 5rem;
    font-weight: 500;
    color: #2a2a2a;
    margin: 5% auto;
    text-align: center;
}

#footercontainer{
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

.footer-copyright{
	background-color: #2a2a2a;
}