body{
	padding-top:58px;
	background-color:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

#card1{
	width: 100%;
}

#card2{
	width: 100%;
}

#card3{
	width: 100%;
}

.card{
	display: inline-black;
	margin: 1rem;
	border-radius: 4px;
	box-shadow: 0px 2px 5px 5px #2a2a2a;
	transition: all .2s ease;
	background: #fff;
	position: relative;
	overflow: hidden;
	
	&:hover, &.hover {
		transform: translateY(-5px);
		box-shadow: 0px 6px 6px 10px #4b006e;
		
		& .card-content {
			box-shadow: inset 0px 3px 0 0 #00a9e0;
			border-color: #00a9e0;
		}
		
		&card-img .overlay {
			background-color: #aeaeae;
			transition: opacity .2s ease;
			opacity: 1;
		}
	}
	
	&-img {
		position:relative;
		height: 100%;
		width: 100%;
		background-color: #fff;
		transition: opacity .2s ease;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		
		& .overlay {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #fff;
			opacity: 0;
			
			& .overlay-content{
				line-height: 180px;
				width: 100%;
				text-align: center;
				color: #2a2a2a;
				
				& a{
					color: #2a2a2a;
					padding: 0 2rem;
					display: inline-block;
					border: 2px solid #00a9e0;
					height: 50px;
					line-height: 50px;
					border-radius: 25px;
					cursor: pointer;
					text-decoration: none;
					
					&:hover, &.hover{
						background: #2a2a2a;
						border-color: #2a2a2a;
					}
				}
			}
		}
	}
	
	&-content {
		width: 100%;
		min-height: 40%;
		background-color: #2a2a2a;
		border-top: 1px solid #e9e9eb;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		padding: 1rem 2rem;
		transition: all .2s ease;
		
		& a{
			text-decoration: none;
			color: #d8d8d8;
		}
		
		& h2, a h2{
			font-size: 1rem;
			font-weight: 550;
		}
	}
}

.navbar-custom{
	background-color:#2a2a2a;
}

.navbar-custom .navbar-nav .nav-link{
    color:#d8d8d8;
}

.navbar-custom .nav-item{
	margin:0px 5px;
    /*background-color:#d8d8d8;
	color:#2a2a2a;*/
}

.navbar-custom .navbar-nav .nav-link:hover{
    background-color:#4b006e;
	color:#d8d8d8;
	box-shadow: 0px 0px 10px 10px #2a2a2a;
}

.navbar-custom .nav-item.active .nav-link{
    color:#9f2305;
}

.navbar-custom .dropdown-menu{
    background-color:#2a2a2a;
}

.navbar-custom .dropdown-item{
    color:#c3c3c3;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus{
	font-weight:bold;
    color:#4b006e;
    background-color:#c3c3c3;
	
}

.navbar-custom .dropdown-toggle{
	margin:0px 5px;
	border:none;
	background-color:#2a2a2a;
}

/*.container .row-custom{
	margin-top: 30px;
}*/

.container .row-hr .col .new1{
	height: 1px;
	color: #4b006e;
	background-color: #4b006e;
	border: none;
}

.container .row-hr{
	margin-top: 0px;
	margin-bottom:0px;
}

.footer-copyright{
	background-color: #2a2a2a;
}

#profpic{
	margin-top: 30px;
	border-radius: 50%;
	vertical-align: middle;
}

#aboutmetext{
	margin-top: 30px;
}

#approachtext{
	margin-top:10px;
}

#satisfaction{
	border-radius: 10px;
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	width: 50%;
	max-width:70%;
	height:auto;
}