html, body{
	height: 100%;
	width: 100%;
	/*padding-left:8.5%;
	padding-right:8.5%;*/
}

body{
	padding-top:58px;
	background-color:#dfdede;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.navbar-custom{
	background-color:#2a2a2a;
	padding-right:15.5%;
	padding-left:15.5%;
}

.navbar-custom .navbar-nav .nav-link{
	color:#d8d8d8;
}

.navbar-custom .nav-item{
	margin:0px 5px;
}

.navbar-custom .navbar-nav .nav-link:hover{
    background-color:#4b006e;
	color:#d8d8d8;
	box-shadow: 0px 0px 10px 10px #2a2a2a;
}

.navbar-custom .nav-item.active .nav-link{
    color:#9f2305;
}

.navbar-custom .dropdown-menu{
    background-color:#2a2a2a;
}

.navbar-custom .dropdown-item{
    color:#c3c3c3;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus{
    color:#4b006e;
    background-color:#c3c3c3;
	
}

.navbar-custom .dropdown-toggle{
	margin:0px 5px;
	border:none;
	background-color:#2a2a2a;
}

#introcontainer{
    padding-left: 16.3%;
    padding-right: 16.3%;
}

#introcontainer .row-hr .col .new1{
	height: 1px;
	color: #4b006e;
	background-color: #4b006e;
	border: none;
}

#introcontainer .row-hr{
	margin-top: 0px;
	margin-bottom:0px;
}

#profpic{
	margin-top: 5%;
	border-radius: 50%;
	vertical-align: middle;
}

#aboutmetext{
	margin-top: 3%;
	color: #2a2a2a;
}

#approachtext{
	margin-top:10px;
	color: #2a2a2a;
}

#satisfaction{
	border-radius: 10px;
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	width: 50%;
	max-width:70%;
	height:auto;
}

.container-footer{
    background-color: #2a2a2a;
}

#copyright{
    margin-bottom: 0.85%;
    margin-top: 0.85%;
}