html, body{
	height: 100%;
	width: 100%;
	padding-left:8.5%;
	padding-right:8.5%;
}

body{
	padding-top:58px;
	background-color:#dfdede;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.navbar-custom{
	background-color:#2a2a2a;
	padding-right:14.5%;
	padding-left:14.5%;
}

.navbar-custom .navbar-nav .nav-link{
	color:#d8d8d8;
}

.navbar-custom .nav-item{
	margin:0px 5px;
}

.navbar-custom .navbar-nav .nav-link:hover{
    background-color:#4b006e;
	color:#d8d8d8;
	box-shadow: 0px 0px 10px 10px #2a2a2a;
}

.navbar-custom .nav-item.active .nav-link{
    color:#9f2305;
}

.navbar-custom .dropdown-menu{
    background-color:#2a2a2a;
}

.navbar-custom .dropdown-item{
    color:#c3c3c3;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus{
	font-weight:bold;
    color:#4b006e;
    background-color:#c3c3c3;
	
}

.navbar-custom .dropdown-toggle{
	margin:0px 5px;
	border:none;
	background-color:#2a2a2a;
}

#contactmsg{
	text-align: center;
	margin-top: 5%;
	font-size: 2rem;
	font-weight: 200;
	color: #2a2a2a;
	line-height: 1.1;
}

.container-socials .row-contactcard .col-contactcard .card{
    height: 30rem;
    width: 22rem;
    margin: 0 auto;
    margin-top: 3%;
    float: none;
    margin-bottom: 10px;
    background-color: #4b006e;
    border-radius: 7px;
    box-shadow: 0px 2px 4px 3px #2a2a2a;
    transition: all .3s ease;
}

.container-socials .row-contactcard .col-contactcard .card:hover{
    height: 30rem;
    width: 22rem;
    margin: 0 auto;
    margin-top: 3%;
    float: none;
    margin-bottom: 10px;
    background-color: #4b006e;
    border-radius: 7px;
    box-shadow: 0px 2px 4px 3px #2a2a2a;
    transform: scale(1.02);
}

.container-socials .row-contactcard .col-contactcard .card .profilepic{
    height: 47%;
    width: 47%;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 3%;
}

.container-socials .row-contactcard .col-contactcard .card .btn-socials{
    border: 2px solid #c3c3c3;
    color: #c3c3c3;
    font-weight: 600;
    margin: 0 auto;
    margin-top: 5%;
    height: 10%;
    width: 40%;
    border-radius: 15%;
}

.container-socials .row-contactcard .col-contactcard .card .btn-socials:hover{
    border: 2px solid #c3c3c3;
    background-color: #c3c3c3;
    color: #4b006e;
    font-weight: 600;
    margin: 0 auto;
    margin-top: 5%;
    height: 10%;
    width: 40%;
    border-radius: 15%;
}

.container-socials .row-contactcard .col-contactcard .card .card-body{
    display: none;
}

#linkdainpicaid, #linkedinpic, #instagrampicaid, #instagrampic, #emailpic{
    height: 40px;
    width: 40px;
}

.container-socials .row-contactcard .col-contactcard .card .card-body .linkedin,
.container-socials .row-contactcard .col-contactcard .card .card-body .instagram,
.container-socials .row-contactcard .col-contactcard .card .card-body .email{
    border-top: 2px inset rgba(42, 42, 42, .40);
    padding-top: 2px;
}

.container-socials .row-contactcard .col-contactcard .card .card-body .linkedin .linkedintext,
.container-socials .row-contactcard .col-contactcard .card .card-body .instagram .instagramtext,
.container-socials .row-contactcard .col-contactcard .card .card-body .email .emailtext{
    text-decoration: none;
    color: #c3c3c3;
    padding-left: 3%;
}

.container-socials .row-contactcard .col-contactcard .card .card-body .linkedin .linkedintext:hover,
.container-socials .row-contactcard .col-contactcard .card .card-body .instagram .instagramtext:hover,
.container-socials .row-contactcard .col-contactcard .card .card-body .email .emailtext:hover{
    color: white;
}

.container-socials .row-contactcard .col-contactcard .card .card-body .linkedin{
    margin-bottom: 3px;
}

.container-socials .row-contactcard .col-contactcard .card .card-body .instagram{
    margin: 3px 0;
}

.container-socials .row-contactcard .col-contactcard .card .card-body .email{
    padding-top: 0;
    margin-top: 0;
    border-bottom: 2px inset rgba(42, 42, 42, .99);
}

#footercontainer{
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

.footer-copyright{
	background-color: #2a2a2a;
}