html, body{
	height: 100%;
	width: 100%;
	/*padding-left:8.5%;
	padding-right:8.5%;*/
}

body{
	padding-top:58px;
	background-color:#dfdede;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.navbar-custom{
	background-color:#2a2a2a;
	padding-right:14.5%;
	padding-left:14.5%;
}

.navbar-custom .navbar-nav .nav-link{
	color:#d8d8d8;
}

.navbar-custom .nav-item{
	margin:0px 5px;
}

.navbar-custom .navbar-nav .nav-link:hover{
    background-color:#4b006e;
	color:#d8d8d8;
	box-shadow: 0px 0px 10px 10px #2a2a2a;
}

.navbar-custom .nav-item.active .nav-link{
    color:#9f2305;
}

.navbar-custom .dropdown-menu{
    background-color:#2a2a2a;
}

.navbar-custom .dropdown-item{
    color:#c3c3c3;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus{
    color:#4b006e;
    background-color:#c3c3c3;
	
}

.navbar-custom .dropdown-toggle{
	margin:0px 5px;
	border:none;
	background-color:#2a2a2a;
}

#h1{
    font-size: 5rem;
    font-weight: 500;
    color: #2a2a2a;
    margin: 5% auto;
    text-align: center;
}

#footercontainer{
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

.footer-copyright{
	background-color: #2a2a2a;
}

.row{
	margin-top: 2em;
	margin-left: 3em;
	margin-right: 3em;
}

.row-nested{
	margin: 0;
}

.container-whole .row .col-content{
	border-left-width: 0.4em;
	border-left-style: solid;
	border-image:
		linear-gradient(
			to left,
			#2e105b,
			#dfdede
		) 1 75%;
	
}

.container-whole .row .col-nav .row-nested .col-bigscope{
	position: fixed;
	top: 50%;
	left: 0;
	font-size: 170%;
	line-height: 160%;
}

.container-whole .row .col-nav .row-nested .col-smallscope{
	position: fixed;
	top: 47.3%;
	left: 13.5%;
	font-size: 170%;
	line-height: 160%;
}

.container-whole .row .col-nav .row-nested .col-bigscope a{
	cursor: pointer;
	text-decoration: none;
	color: #2a2a2a;
	border: 2px solid #dfdede;
	border-radius: 100px;
	padding: 0.15em 0.5em;
	transition: all 150ms ease;
}

.container-whole .row .col-nav .row-nested .col-bigscope a:hover{
	text-decoration: none !important;
	color: #d8d8d8 !important;
	background-color: #4b006e !important;
	transition-delay: 10ms !important;
}

.container-whole .row .col-nav .row-nested .col-smallscope a{
	cursor: pointer;
	text-decoration: none;
	color: #2a2a2a;
	border: 2px solid #dfdede;
	border-radius: 100px;
	padding: 0.15em 0.5em;
	transition: all 150ms ease;
}

.container-whole .row .col-nav .row-nested .col-smallscope a:hover{
	text-decoration: none !important;
	color: #d8d8d8 !important;
	background-color: #4b006e !important;
	transition-delay: 10ms !important;
}


.container-whole .row .col-content .row-nested-persona{
	margin: 0;
	padding: 0;
	border: 0;
}

.container-whole .row .col-content .row-nested-persona .persona-picture{
	border-radius: 1em;
	padding-top: 0.4em;
	padding-bottom: 0.5em;
	margin-right: 0;
	padding-right: 0;
	border-right: 0;
	float: right;
}

.container-whole .row .col-content .row-nested-persona .col-persona1{
	margin: 0;
	padding: 0;
	border: 0;
}

.container-whole .row .col-content .row-nested-persona .col-persona2{
	margin: 0;
	padding: 0;
	border: 0;
}

.container-whole .row .col-content .row-nested-persona .col-persona1 .persona-list{
	font-size: 130%;
}

.container-whole .row .col-content .row-nested-persona .col-persona1 .persona-list-likes{
	font-size: 130%;
	padding-left: 1em;
}

.box{
	background: red;
	width: 50px;
	height: 50px;
	margin-bottom: 20%;
}

h2{
	color: #2e105b;
	padding-top: 0.33em;
	font-weight: bold;
}

h3{
	padding-top: 0.25em;
	text-decoration: underline;
}

h4{
	padding-top: 0.2em;
	font-style: italic;
}

h5{
	padding-bottom: 0;
	margin-bottom: -1em;
	font-size: 115%;
}

p{
	text-align: justify;
	color: #2a2a2a;
}

hr{
	height: 1px;
	background: linear-gradient(to right, #650094, #2a2a2a, #650094, #2a2a2a, #650094);
}

img{
	transition: all .3s ease;
	filter: drop-shadow(1px 3px 3px #2a2a2a);
}

img:hover{
	transform: scale(1.015);
}

.wireframe-image{
	margin-bottom: 0.33em;
}

.wireframe-images{
	padding-left: 2em;
	margin-bottom: 0.33em;
}

.unused-design{
	margin-bottom: 1em;
}

.unused-designs{
	margin-bottom: 1em;
	padding-left: 2em;
}

.container-footer{
    background-color: #2a2a2a;
}

#copyright{
    margin-bottom: 0.85%;
    margin-top: 0.85%;
}