html, body{
	height: 100%;
	width: 100%;
}

body{
	padding-top:58px;
	padding-left:10%;
	padding-right:10%;
	background-color:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

#card1{
	width: 100%;
}

#card2{
	width: 100%;
}

#card3{
	width: 100%;
}

#card1 .card-img{
	height: 300px;
	width: auto;
}

#card2 .card-img{
	height: 350px;
	width: auto;
}

#card3 .card-img{
	height: 300px;
	width: auto;
}

#card1 .card-content{
	height:auto;
	text-align:center;
}

#card2 .card-content{
	height:auto;
	text-align:center;
}

#card3 .card-content{
	height:auto;
	text-align:center;
}

.row-cards{
	padding-top:10%;
}

.card{
	display: inline-black;
	margin: 1rem;
	border-radius: 4px;
	box-shadow: 0px 1px 4px 1px #2a2a2a;
	transition: all .2s ease;
	background: #fff;
	position: relative;
	overflow: hidden;
}
	
.card:hover {
	transform: translateY(-5px);
	box-shadow: 0px 3px 8px 1px #11c1b4;
}

.card .card-img:hover ~ .card-content{
	box-shadow: inset 0px 2px 0 0 #4b006e;
		border-color: #4b006e;
}
		
.card .card-content:hover{
	box-shadow: inset 0px 2px 0 0 #4b006e;
	border-color: #4b006e;
}
		
.card .card-img .overlay {
	display: none;
	background-color: #aeaeae;
	transition: opacity .2s ease;
	opacity: 1;
}

.card:hover .card-img .overlay{
	display:block;
}
	
.card-img {
	position:relative;
	height: 300px;
	width: 100%;
	background-color: #fff;
	transition: opacity .2s ease;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
		
.card-img .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0;
}
			
.card-img .overlay .overlay-content{
	line-height: 180px;
	width: 100%;
	text-align: center;
	color: #2a2a2a;
}
				
.card-img .overlay .overlay-content .a{
	color: #2a2a2a;
	padding: 0 2rem;
	display: inline-block;
	border: 2px solid #11c1b4;
	height: 50px;
	line-height: 50px;
	border-radius: 25px;
	cursor: pointer;
	text-decoration: none;
}
					
.card-img .overlay .overlay-content .a:hover{
	background: #2a2a2a;
	border-color: #2a2a2a;
}
	
.card-content {
	width: 100%;
	min-height: 40%;
	background-color: #2a2a2a;
	border-top: 1px solid #e9e9eb;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding: 1rem 2rem;
	transition: all .2s ease;
}
		
.card-content .a{
	text-decoration: none;
	color: #d8d8d8;
}
		
.card-content .a .h2{
	font-size: 1rem;
	font-weight: 550;
}

.navbar-custom{
	background-color:#2a2a2a;
	padding-right:10%;
	padding-left:10%;
}

.navbar-custom .navbar-nav .nav-link{
	color:#d8d8d8;
}

.navbar-custom .nav-item{
	margin:0px 5px;
    /*background-color:#d8d8d8;
	color:#2a2a2a;*/
}

.navbar-custom .navbar-nav .nav-link:hover{
    background-color:#4b006e;
	color:#d8d8d8;
	box-shadow: 0px 0px 10px 10px #2a2a2a;
}

.navbar-custom .nav-item.active .nav-link{
    color:#9f2305;
}

.navbar-custom .dropdown-menu{
    background-color:#2a2a2a;
}

.navbar-custom .dropdown-item{
    color:#c3c3c3;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus{
	font-weight:bold;
    color:#4b006e;
    background-color:#c3c3c3;
	
}

.navbar-custom .dropdown-toggle{
	margin:0px 5px;
	border:none;
	background-color:#2a2a2a;
}

/*.container .row-custom{
	margin-top: 30px;
}*/

.container .row-hr .col .new1{
	height: 1px;
	color: #4b006e;
	background-color: #4b006e;
	border: none;
}

.container .row-hr{
	margin-top: 0px;
	margin-bottom:0px;
}

.footer-copyright{
	background-color: #2a2a2a;
}

#profpic{
	margin-top: 30px;
	border-radius: 50%;
	vertical-align: middle;
}

#aboutmetext{
	margin-top: 30px;
}

#approachtext{
	margin-top:10px;
}

#satisfaction{
	border-radius: 10px;
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	width: 50%;
	max-width:70%;
	height:auto;
}

#welcomemsg{
	text-align:center;
}