body{
	padding-top:58px;
	background-color:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.navbar-custom{
	background-color:#2a2a2a;
}

.navbar-custom .navbar-nav .nav-link{
    color:#d8d8d8;
}

.navbar-custom .nav-item{
	margin:0px 5px;
    /*background-color:#d8d8d8;
	color:#2a2a2a;*/
}

.navbar-custom .navbar-nav .nav-link:hover{
    background-color:#4b006e;
	color:#d8d8d8;
	box-shadow: 0px 0px 10px 10px #2a2a2a;
}

.navbar-custom .nav-item.active .nav-link{
    color:#9f2305;
}

.navbar-custom .dropdown-menu{
    background-color:#2a2a2a;
}

.navbar-custom .dropdown-item{
    color:#c3c3c3;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus{
	font-weight:bold;
    color:#4b006e;
    background-color:#c3c3c3;
	
}

.navbar-custom .dropdown-toggle{
	margin:0px 5px;
	border:none;
	background-color:#2a2a2a;
}

/*.container .row-custom{
	margin-top: 30px;
}*/

.container .row-hr .col .new1{
	height: 1px;
	color: #4b006e;
	background-color: #4b006e;
	border: none;
}

.container .row-hr{
	margin-top: 0px;
	margin-bottom:0px;
}

.footer-copyright{
	background-color: #2a2a2a;
}

#profpic{
	margin-top: 30px;
	border-radius: 50%;
	vertical-align: middle;
}

#aboutmetext{
	margin-top: 30px;
}

#approachtext{
	margin-top:10px;
}

#satisfaction{
	border-radius: 10px;
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	width: 50%;
	max-width:70%;
	height:auto;
}